<div class="card">
  <h2 class="name">Remy Castella</h2>
  <h2 class="title">Software Engineer</h2>
  <h2 class="employment">Freelance</h2>
  <div class="contact-info">
    <p>123-456-789</p>
    <p>Oshiage, Sumida City,<br />Tokyo 131-0045</p>
  </div>
</div>
