<!DOCTYPE html>
<html lang="en">
  <%- include("./components/head", {title}) %>
  <body>
    <%- include("./components/nav", {title}) %>
    <main class="about-me">
      <img src="/images/face-img.jpg" alt="my face" />
      <div class="bio">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cum
          quibusdam adipisci esse itaque? Odit dignissimos consectetur
          asperiores veritatis adipisci! Architecto est magnam repellat enim.
          Nihil, asperiores, nam minima quo nobis ullam, fugiat nostrum
          necessitatibus quia aut porro? Quisquam id enim saepe, praesentium qui
          ab distinctio. Veniam voluptatem suscipit sint.
        </p>
      </div>
    </main>
    <%- include("./components/footer") %>
  </body>
</html>
